@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.imagenfondo {
    border-color: 1px solid greenyellow;
    background-image: url('../img/portada.jpg');   
    background-size: cover;

} 

/*contenedor de pagina*/

#grilla {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header"
    "article article article" "footer footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
}

/*template areas*/

header {
    grid-area: header;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
}

/*publicidad*/

#publicidad {
    text-align: center;
    font-size: 25px;
    background-color: rgb(177, 188, 218, 0.5);
    /*border: groove 2px greenyellow;*/
    margin: 20px 200px 20px 200px;
    background-image: linear-gradient(rgba(94, 123, 202, 0.8),white);
}
/*links cambio de color*/

a {
    outline: none;
    text-decoration: none;
    color: rgba(94, 123, 202, 0.8);
    transition: all 1s;
}
a:hover {
    color: rgb(18, 115, 199);
}

li {
    list-style: none;
    transition: all 1s;
}

li:hover {
    background-color: rgb(134, 165, 248);
}

/*contenedor navegacion*/

.nav {
    border: 2px solid groove;
    background-color: rgb(243, 243, 241, 0.5);
    margin: 20px 50px 20px 50px;
    font-family: 'Roboto', sans-serif;

}

.nav-link {
    color: rgb(18, 115, 199);
}

/*ARTICLE*/

.arti {
    /*border: 2px solid purple;*/
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
}

/*MAPA*/

.card {
    display: flex;
    justify-content: center;
    transform: scale(0.9,0.9);
    margin: 20px 20px 20px 20px;
}

.card-text {
    display: flex;
    justify-content: center;
}

/* CAROUSEL */
.carousel {
    display: flex;
    justify-content: center;
}
.carousel-inner {
    display: flex;
    padding-top: 50px;
    height: 700px;
    width: 700px;
}
.titulo5 {
    color: black;
    font-weight: bold;
}
.colorcarousel {
    color: rgb(18, 115, 199);
    font-weight: bold;
}
.carousel-caption {
    display: flex;
    justify-content: center;
    transform: translate(110px, -220px);
    padding-top: 5px;
}
    .carousel-control-prev-icon {
        transform: translate(0px, -30px);
    }
    .carousel-control-next-icon {
        transform: translate(0px, -30px);
}
/*media celular*/
@media screen and (min-width: 320px) {

    .imagenfondo {
        border-color: 1px solid greenyellow;
        background-image: url('../img/portada.jpg');
        
    }
    #grilla {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header" "article" "footer";
    }

    #publicidad {
        display: flex;
        justify-content: center;
        margin: 10px 10px 50px 10px;
    }

    #logo {
        display: flex;
        justify-content: center;
    }
   
    .carousel-inner {
        padding-top: 50px;
        height: 700px;
        width: 700px;
    }
    .carousel-caption {
        display: flex;
        justify-content: center;
        transform: translate(0px, -120px);
        padding-top: 5px;

    }
    .titulo5 {
        color: black;
        font-weight: bold;
    }
    .colorcarousel {
        color: rgb(18, 115, 199);
        font-weight: bold;
        background-color: rgb(243, 243, 241, 0.5);
    }
    .carousel-control-prev-icon {
        transform: translate(0px, -130px);
    }
    .carousel-control-next-icon {
        transform: translate(0px, -130px);
    }
}
/*media celular*/
@media screen and (min-width: 600px) {

    .imagenfondo {
        border-color: 1px solid greenyellow;
        background-image: url('../img/portada.jpg');
        
    }
    #grilla {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header" "article" "footer";
    }

    #publicidad {
        display: flex;
        justify-content: center;
        margin: 10px 10px 50px 10px;
    }

    #logo {
        display: flex;
        justify-content: center;
    }
   
    .carousel-inner {
        padding-top: 50px;
        height: 700px;
        width: 700px;
    }
    .carousel-caption {
        display: flex;
        justify-content: center;
        transform: translate(0px, 0px);
        padding-top: 5px;

    }
    .titulo5 {
        color: black;
        font-weight: bold;
    }
    .colorcarousel {
        color: rgb(18, 115, 199);
        font-weight: bold;
        background-color: rgb(243, 243, 241, 0.5);
    }
    .carousel-control-prev-icon {
        transform: translate(0px, -30px);
    }
    .carousel-control-next-icon {
        transform: translate(0px, -30px);
    }
}
